<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    
    <!-- <div id="container">
            
    </div> -->
    <div class="main-container">
      <div class="todo-container">
        <div id="todo-header">
          <h1>TODO LIST APP</h1>
        </div>
        <hr>
        <div id="description">
          <p style="margin-bottom: 0px; margin-top: 0px;">Description</p>
            <form id="create-todo" action="/create-todo" method="POST">        
                  <input style="border: none;" placeholder="What do you need to do?" name="name" class="add-task" id="add"/>
            </form>
        </div>
        <hr>
        <div id="todo-category" style="margin-top: 0px;"> 
            <div id="category" style="margin-top: 0px;">
                  <p style="margin-top: 0px; margin-bottom: 0px;">Category</p>
                  <p style="margin-top: 0px; margin-bottom: 0px;">choose a category</p>
            </div>
            <div id="due-date" style="margin-top: 0px;">
                <p style="margin-top: 0px; margin-bottom: 0px;">Due date</p>
                <p style="margin-top: 0px; margin-bottom: 0px;">dd/mm/yyyy</p>
            </div>
        </div>
        <hr>
        <div id="todo-button">
            <button type="submit" id="add-task"><i class="fas fa-plus-circle"></i>Add Task</button>
            <button type="reset" id="delete-task"><i class="fas fa-trash-alt"></i>Delete Task</button>
        </div>
        <hr>
        <div id="list">
          <ul id="list-item" >
            <% for( let i of todo_List) { %>
             <li><%= i.name %></li>
             <hr>
           <% } %>
            
         </ul>
         
        </div>
        
      </div>
    </div>
    
    <script src="/js/todo.js"></script>
    
    </body>
</html>